<!-- Contact Form -->
<div id="contact-form" class="col-lg-4">
  <h3>Ask a Question</h3>
  <form>
  	<div>
  		<label for="name">Name:</label>
  		<br>
  		<input type="text" id="name" />
  	</div>
  	
  	<div>
  		<label for="mail">Email:</label>
  		<br>
  		<input type="email" id="mail" />
  	</div>

  	<div>
  		<label for="phone">Email:</label>
  		<br>
  		<input type="phone" id="phone" />
  	</div>

  	<div>
  		<label for="msg">Message:</label>
  		<br>
  		<textarea id="msg"></textarea>
  	</div>
  </form>
</div>